html{
	background-color: black;
	color: white;
}

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas,monaco,monospace; 
}

main{
	background-color: black;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	padding: 3%;
}

header {      
	text-align: center;   
}

header ul li{
	padding-left: 20px; 
	text-align: center;
	list-style-type: none;
	display: inline-block;
}

nav{
	padding: 0px;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 0px;
	text-decoration: none;
}

nav ul li a{
	padding: 15px;
	font-size: 25px;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

#border {
	border-right: 2px solid white;
}

footer{
	text-align: left;
	padding-left: 10px; 
	clear: both;

}

footer img{
	float: right;
}

#purple{
	color: purple;
}

#green{
	color: green;
}

#white {
	color: white;
}

.red{
	color: purple;
}

main{
	text-align: center;

}

main section img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;	
	width: 85%;
	padding-bottom: 10px;
	border-radius: 25px;
	column-count: 3;
}


main section{
	display: inline-block;
}

main form{
	text-align: right;
}

@media screen and (max-width: 800px) {

	body{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-family: Consolas,monaco,monospace; 
	}

	html{
		font-size: 15px;
	}

	header{
		padding-right: 35px;
	}

	header ul li{
		margin-left: -20px; 
		text-align: center;
		list-style-type: none;
	}

 	nav{
		margin-left: -30px;
		text-align: center;
	}

	nav ul li a{
		padding: 10px;
		font-size: 13px;
		text-decoration: none;
	}

	a {
		text-decoration: none;
		color: white;
	}

	#border{
		border-right: 2px solid black;
	}

	footer{
		text-align: center;
		padding-left: 0px; 
	}

	main section{
		display: inline-block;
		padding-bottom: 20px;
	}

	main form{
		text-align: center;
	}

	footer img{
		display: none;
	}
}