html{
	background-color: black;
	color: white;
}

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas,monaco,monospace; 
}

main{
	background-color: black;
	border-top: 2px solid green;
	padding: 3%;
}

header {      
	text-align: center;   
}

header ul li{
	padding-left: 20px; 
	text-align: center;
	list-style-type: none;
	display: inline-block;
}

nav{
	padding: 0px;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 0px;
	text-decoration: none;
}

nav ul li a{
	padding: 15px;
	font-size: 25px;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

#border {
	border-right: 2px solid white;
}

footer{
	text-align: left;
	padding-left: 10px; 
	clear: both;
	border-top: 2px solid green;

}

footer img{
	float: right;
}

#purple:hover{
	color: #D3D3D3;
}

#white:hover{
	color: #D3D3D3;
}

#green:hover{
	color: #D3D3D3;
}

#purple{
	color: purple;
}

#green{
	color: green;
}

#white {
	color: white;
}

#blue{
	color: skyblue;
}

.red{
	color: purple;
}

#transbox {
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
}

#awe{
	float: right;
	padding: 10px;
}

main{
	text-align: center;
	font-size: 20px;
}

#displayl{ 
	display: inline-block;
	width: 70%;
  	font-size: 20px;
}

div{
	padding: 10px;
}

#displayr{ 
	display: inline-block;
	width: 70%;
	font-size: 20px;

}

#back{
	padding-bottom: 10px; 
	background-color: black;
	border-bottom: 2px solid red;
}

main section video{
	width: 50%;
}

video{
	display: block;
    padding-bottom: 2%;
    margin: auto;
}

@media screen and (max-width: 800px) {

	body{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-family: Consolas,monaco,monospace; 
	}

	html{
		font-size: 13px;
	}

	header{
		padding-right: 35px;
	}

	header ul li{
		margin-left: -20px; 
		text-align: center;
		list-style-type: none;
	}

 	nav{
		margin-left: -30px;
		text-align: center;
	}

	nav ul li a{
		padding: 10px;
		font-size: 15px;
		text-decoration: none;
	}

	a {
		text-decoration: none;
		color: white;
	}

	#border{
		border-right: 2px solid black;
	}

	footer{
		text-align: center;
		padding-left: 0px; 
	}

	footer img{
		display: none;
	}

	#floatr{
		float: center;
		width: 90%;
	}

	#floatl{
		float: center;
		width: 95%;
	}

	main section video{
		width: 90%;
	}

	#displayl{ 
		display: inline-block;
		width: 90%;
  		font-size: 20px;
	}

	#displayr{ 
		display: inline-block;
		width: 100%;
		font-size: 20px;

	}

}

@media screen and (min-width: 801px) and (max-width: 980px) {
	html{
		font-size: 20px;
	}

	nav ul li a{
		padding: 10px;
		font-size: 20px;
		text-decoration: none;
	}

	#displayl{ 
		display: inline-block;
		width: 90%;
  		font-size: 20px;
	}

	#displayr{ 
		display: inline-block;
		width: 100%;
		font-size: 20px;

	}
}

