html{
	background-color: black;
	color: white;
}

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas,monaco,monospace; 
}

main{
	background-color: black;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	padding: 3%;
}

header {      
	text-align: center;   
}

header ul li{
	padding-left: 20px; 
	text-align: center;
	list-style-type: none;
	display: inline-block;
}

nav{
	padding: 0px;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 0px;
	text-decoration: none;
}

nav ul li a{
	padding: 15px;
	font-size: 25px;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

#border {
	border-right: 2px solid white;
}

footer{
	text-align: left;
	padding-left: 10px; 
	clear: both;

}

footer img{
	float: right;
}

@media screen and (max-width: 800px) {

	body{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-family: Consolas,monaco,monospace; 
	}

	html{
		font-size: 13px;
	}

	header{
		padding-right: 35px;
	}

	header ul li{
		margin-left: -20px; 
		text-align: center;
		list-style-type: none;
	}

 	nav{
		margin-left: -30px;
		text-align: center;
	}

	nav ul li a{
		padding: 10px;
		font-size: 15px;
		text-decoration: none;
	}

	a {
		text-decoration: none;
		color: white;
	}

	#border{
		border-right: 2px solid black;
	}

	footer{
		text-align: center;
		padding-left: 0px; 
	}

	footer img{
		display: none;
	}
}

#purple:hover{
	color: #D3D3D3;
}

#white:hover{
	color: #D3D3D3;
}

#green:hover{
	color: #D3D3D3;
}

#purple{
	color: purple;
}

#green{
	color: green;
}

#white {
	color: white;
}

#grey {
	color: grey;
}

#red {
	color: red;
}

#blue {
	color: lightblue;
}

#color1 {
	color: #97CAEF;
}

#lightpurple {
	color: #E04AF8;
}

.red{
	color: purple;
}

#center{
	text-align: center;
}

#awe{
	float: right;
	padding: 10px;
}

#transbox {
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
}

div{
	padding: 10px;
}

#transbox:hover {
	background-color: grey;
}

@media screen and (min-width: 801px) and (max-width: 980px) {
	html{
		font-size: 20px;
	}

	nav ul li a{
		padding: 10px;
		font-size: 20px;
		text-decoration: none;
	}

	#displayl{ 
		display: inline-block;
		width: 90%;
  		font-size: 20px;
	}

	#displayr{ 
		display: inline-block;
		width: 100%;
		font-size: 20px;

	}
}